[user]
	name = Jonathan Maltz
	email = jm1271@gmail.com
[color]
    status = auto
    branch = auto
    ui = true
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color "branch"]
  current = yellow reverse 
  local = yellow
  remote = green 
[color "diff"] 
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse 
[color "status"]
  added = yellow
  changed = green 
  untracked = cyan
[alias]
	b = branch
	s = status
	r = remote -v
	cm = commit -m
	st = stash
	sp = stash pop
    co = checkout
	brd = branch -d
	brdd = branch -D
	brm = branch -m
	cob = checkout -b
    cam = commit -am
	smi = submodule init
	smu = submodule update
	blow-away = reset --hard HEAD
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lf = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --numstat
[core]
	editor = /usr/bin/vim
