[user]
	name = Jonathan Maltz
	email = jm1271@gmail.com
[color]
    status = auto
    branch = auto
    ui = true
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color "branch"]
  current = yellow reverse 
  local = yellow
  remote = green 
[color "diff"] 
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse 
[color "status"]
  added = yellow
  changed = green 
  untracked = cyan
[alias]
    s = status
    cm = commit -m
    cam = commit -am
    co = checkout
    cob = checkout -b
	b = branch
	smi = submodule init
	smu = submodule update
	blow-away = reset --hard HEAD
[core]
	editor = /usr/bin/vim
