[submodule ".vim/bundle/closetag"]
        path = .vim/bundle/closetag
        url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/supertag"]
        path = .vim/bundle/supertab
        url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
